<%- include ('header') %>
<h1>Profile</h1>
<div>
    <p>
        <h1><%= user.name %> </h1>
        <h1><%= user.username %> </h1>
        <h1><%= user.phone %> </h1>
        <h1><%= user.email %> </h1>
        <h1><%= user.address %> </h1>
    </p>
</div> 
<br />
<a href="/">Back to Account Summary</a>
<%- include ('footer') %> 